<h2 class="panel-header">Fertility</h2>

<div class="panel-stat">
  <div class="panel-stat-primary">
    <button class="panel-stat-button" {{action "createSperm"}} disabled={{spermDisabled}}>Sperm</button>
  </div>
  <div class="panel-stat-secondary">
    Cost: {{weight-measurement spermCost}} Testosterone
  </div>
  <ul>
    <li>Available: {{totalSpermAvailable}}</li>
    <li>Immature: {{totalSpermImmature}}</li>
    <li>Dead: {{totalSpermDead}}</li>
  </ul>
</div>

<hr>

<div class="panel-stat">
  <div class="panel-stat-primary">
    <button class="panel-stat-button" {{action "createSpermFactory"}} disabled={{spermFactoryDisabled}}>Sperm Factory</button>
    <span class="panel-stat-amount">{{data.fertility.spermFactories}}</span>
  </div>
  <div class="panel-stat-secondary">
    Cost: {{weight-measurement spermFactoryCost}} Protein
  </div>
</div>
