<h2 class="panel-header">Fertility</h2>

{{panel-stat-button
  name="sperm"
  unit="weight"
  resource=data.fertility.sperm
  costs=spermCost
  onClick=createResource
}}

<hr>

<div class="panel-stat">
  <div class="panel-stat-primary">
    <button class="panel-stat-button" {{action "createSpermFactory"}} disabled={{spermFactoryDisabled}}>Sperm Factory</button>
    <span class="panel-stat-amount">{{data.fertility.spermFactories}}</span>
  </div>
  <div class="panel-stat-secondary">
    Cost: {{weight-measurement spermFactoryCost}} Protein
  </div>
</div>
