<h2 class="panel-header">Mood</h2>

{{panel-stat-button
  name="arousal"
  unit="percent"
  resource=data.mood.arousal
  costs=arousalCost
  onClick=createResource
}}

<hr>

<div class="panel-stat">
  <div class="panel-stat-primary">
    <button class="panel-stat-button" {{action "createArousalFactory"}} disabled={{arousalFactoryDisabled}}>Arousal Factory</button>
    <span class="panel-stat-amount">{{data.mood.arousalFactories}}</span>
  </div>
  <div class="panel-stat-secondary">
    Cost: {{weight-measurement arousalFactoryCost}} Protein
  </div>
</div>
