<h2 class="panel-header">Nutrients</h2>

<div class="panel-stat">
  <div class="panel-stat-primary">
    <span class="panel-stat-type">Calories:</span> <span class="panel-stat-amount">{{energy-measurement data.nutrients.calories}}</span>
  </div>
</div>

<div class="panel-stat">
  <div class="panel-stat-primary">
    <span class="panel-stat-type">Fat:</span> <span class="panel-stat-amount">{{weight-measurement data.nutrients.fat}}</span>
  </div>
</div>

<div class="panel-stat">
  <div class="panel-stat-primary">
    <span class="panel-stat-type">Minterals:</span> <span class="panel-stat-amount">{{weight-measurement data.nutrients.minerals}}</span>
  </div>
</div>

<div class="panel-stat">
  <div class="panel-stat-primary">
    <span class="panel-stat-type">Protein:</span> <span class="panel-stat-amount">{{weight-measurement data.nutrients.protein}}</span>
  </div>
</div>


<div class="panel-stat">
  <div class="panel-stat-primary">
    <button class="panel-stat-button" {{action "increaseImperative"}} disabled={{imperativeDisabled}}>Imperative</button>
    <span class="panel-stat-amount">{{data.ri.nutrientImperative}}</span>
  </div>
  <div class="panel-stat-secondary">
    Cost: {{imperativeCost}} RI
  </div>
</div>
