<div class="panel-column">
  {{endocrine-panel
    data=data
    createResource=(action "createResource")
  }}
  {{mood-panel
    data=data
    createResource=(action "createResource")
  }}
  {{fertility-panel
    data=data
    createResource=(action "createResource")
  }}
</div>

<div class="panel-column">
</div>

<div class="panel-column">
  {{ri-panel
    data=data
    createResource=(action "createResource")
  }}
  {{nutrient-panel
    data=data
    createResource=(action "createResource")
  }}
</div>
