<div class="panel-column">
  {{endocrine-panel data=data
    createResource=(action "createResource")
  }}
  {{mood-panel data=data}}
  {{fertility-panel data=data}}
</div>

<div class="panel-column">
</div>

<div class="panel-column">
  {{ri-panel data=data}}
  {{nutrient-panel data=data}}
</div>
