<div class="panel-stat-primary">
  <button class="panel-stat-button" {{action "onClick"}} disabled={{disabled}}>{{resource.name}}</button>
  <span class="panel-stat-amount">
    {{measurement-unit amount=resource.amount unit=resource.unit}}
  </span>
</div>
<div class="panel-stat-secondary">
  Cost:
  {{#each costs as |cost|}}
    {{measurement-unit amount=cost.amount unit=cost.source.unit}} {{fallthrough cost.source.shortName cost.source.name}};
  {{/each}}
</div>
