<div class="panel-stat-primary">
  <button class="panel-stat-button" {{action "onClick"}} disabled={{disabled}}>{{name}}</button>
  <span class="panel-stat-amount">
    {{measurement-unit amount=resource.amount unit=unit}}
  </span>
</div>
<div class="panel-stat-secondary">
  Cost:
  {{#each costs as |cost|}}
    {{measurement-unit amount=cost.amount unit=cost.unit}} {{cost.name}};
  {{/each}}
</div>
