<div class="player-avatar-canvas">
  {{avatar-canvas avatar=model.gameData.player}}
</div>

<div class="content">
  <div class="panels">
    <div class="panel-column">
      {{endocrine-panel data=model.gameData}}
      {{mood-panel data=model.gameData}}
      {{fertility-panel data=model.gameData}}
    </div>

    <div class="panel-column">
    </div>

    <div class="panel-column">
      {{ri-panel data=model.gameData}}
      {{nutrient-panel data=model.gameData}}
    </div>
  </div>

  {{message-box
    messages=model.gameData.messages
  }}
</div>
